.modal {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 20rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.62);
    z-index: 100;
    h3 {
        color: rgb(1, 179, 1);
    }
}

@media (max-width: 576px) {
    .modal {
        width: 100%;
        padding: 2rem 1rem;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}
